<html>
    <header>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" >
        <link rel="stylesheet" type="text/css" href="/style.css" >
    </header>
    <body>
        
    
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i Class="Umbrella icon"></i><a href="/">WeatherChecker</a></div>
                    <a href="/" class="item">Home</a>
                    <a href="/search" class="item">Search</a>
              
                
                <div class="right menu">
                    <div class="ui item">
                        
                        <% if(!currentUser){ %><!--if no current user show these-->
                              <a href="/login" class="item">Log In</a>
                              <a href="/register" class="item">Register</a>
                            <% }else{ %> <!--otherwise show these-->
                              <a href = "/favorites" class="item">Welcome Back, <%= currentUser.username %>!</a> <!--the .username comes from the 'user' model--> 
                              <a href="/logout" class="item">logout</a>
                        <% } %> 

                    </div>
                </div>
            </div> 
         
        </div>


<div class="wrapper">
        
    