<% include partials/header %> 

<div class="ui main text container">
    <div class="ui huge header centered">WeatherChecker</div>
    <div class="ui segment">
        <div class="ui divided items">
            <div class="item">
                <h1>Stay up to date on the latest weather forcast!</h1>
            </div>
            <div class="item">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu vehicula tortor. Mauris sed nibh ac lorem porttitor faucibus. Cras fermentum eros nibh, nec hendrerit massa aliquam ac. Nulla sollicitudin aliquam laoreet. Nulla ullamcorper luctus enim vitae pellentesque. Pellentesque condimentum nibh vel dui finibus, eget vulputate sapien sodales. Ut consequat molestie finibus. Donec odio neque, egestas at lacus ut, vehicula sagittis massa. Vivamus consectetur vulputate maximus. Vestibulum vel laoreet neque. Donec ullamcorper turpis ut nunc facilisis, ut semper arcu cursus. Sed consectetur est ante, quis aliquam justo lobortis sed.</p>
            </div>
            <div class="item">
                <a class="ui primary button" href="/search">Check my weather!</a>
            </div>
        </div>
    </div>
</div>



    
    


<% include partials/footer %>