<% include partials/header %> 

<div class="ui main text container" id="paddingTop">
    <div class="ui huge header centered" id="textShadow">WeatherChecker</div>
    <div class="ui segment" id="centerSegment">
        <div class="ui divided items">
            <div class="item ui container">
                <h1 id="marginAuto">Stay up to date on the latest weather forcast!</h1>
            </div>
            <div class="item">
                <h4>WeatherChecker is your one stop shop for all your forecast needs! With the abilty to see the weather forecast
                 2 days ahead, the unpredictable weather of the world will never get the best of you! There are 2 ways to go get
                  your daily forcast and to completely no cost to you! <a href="/search"> The first way is to skip straight to the "Check
                   My Weather!" button</a>, but by doing so, you will not get the premium user benifits. <a href="/register">The second way is to register
                    or log in to gain the ability to save specific locations</a> for easy access in the future</h4>
            
                 
               
                 
            </div>
            <div class="item">
                <a class="ui primary button" href="/search" id="marginAuto">Check my weather!</a>
            </div>
        </div>
    </div>
</div>



    


<% include partials/footer %>